<div id="menu" class="overlay-content" data-target="menu">
	<div class="overlay-header">
		<span class="overlay-label">Menu</span>
		<a class="overlay-close" data-action="overlay" data-target="menu"></a>
	</div>
	<ul class="overlay-inner-content">
		{{#foreach navigation}}
		<li class="menu-list-item">
			<a class="{{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
		</li>
		{{/foreach}}
		<li class="menu-list-item menu-list-item-follow">
			{{#if @blog.twitter}}
			<a class="twitter" href="{{twitter_url}}" title="{{@blog.twitter}}"><i class="icon-twitter"></i></a>
			{{/if}}
			{{#if @blog.facebook}}
			<a class="facebook" href="{{facebook_url}}" title="{{@blog.facebook}}"><i class="icon-facebook"></i></a>
			{{/if}}
			<a class="rss" href="{{@blog.url}}/rss/"><i class="icon-rss"></i></a>
		</li>
	</ul>
</div>
